
.circular {
			width: 100px;
			height: 100px;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
		}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 16pt;
	}

	.container
	{
		padding: 0 2em 0 2em;
	}

	/* Lists */

		ul.icons
		{
		}	
		
			ul.icons li
			{
			}

			ul.icons li a
			{
				width: 1.75em;
			}

	/* Item */
	
		.item
		{
			margin-bottom: 20px;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		position: fixed;
		width: 64px;
		height: 100%;
		color: #fff;
		/*background: #222729 url('images/overlay.png');
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);*/
		background: #000 url('images/overlay.png');
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
		padding: 0 0 0 0;
	}

	#nav
	{
		right: 0;
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					color: rgba(255,255,255,0.5);
					text-decoration: none;
					outline: 0;
					border: 0;
					-moz-transition: none;
					-webkit-transition: none;
					-o-transition: none;
					-ms-transition: none;
					transition: none;
				}
					
					#nav ul li a span
					{
						font-size: 0.8em;
					}
					
						#nav ul li a span:before
						{
							color: #41484c;
							width: 1.25em;
							line-height: 1.75em;
							padding: 0 0 0 0.75em;
						}

					#nav ul li a.active
					{
						background: rgba(158, 12, 57, 0.25);
						box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
						color: #fff;
					}
		

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		margin-left: 64px;
		text-align: center;
		background-color: #dce3e2;
		padding: 3em 0 4em 0;
		box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
		font-size: 0.8em;
	}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 64px;
	}
	
