---
layout: default
---

<div id="welcome">
  <div>
    <h3>Here is</h3>
    <h1><img class="splash" src="{{ "/img/text.svg" | prepend: site.baseurl }}" alt="Knossos"></h1>
    <h2>Knossos</h2>
    <h4>A 3D image annotation program.</h3>
    <h5>Have a look at <a href="{{ "/about/" | prepend: site.baseurl }}">what <strong>Knossos</strong> is about <i class="icon-angle-right"></i></a></h4>

    <h6><a class="button" href="{{ "/downloads/" | prepend: site.baseurl }}"><i class="icon-download"></i> Latest release ({{ site.data.knossos.version }})</a></h5>
    <h6><a href="http://www.mpimf-heidelberg.mpg.de/en">Developed at Max Planck Institute for Medical Research <i class="icon-angle-double-right"></i></a></h5>

  </div>
</div>

<div class="cards">
  {% for post in site.posts %}
    <div class="card">
      {% if post.ribbon %}
        <div class="ribbon-wrapper"><div class="ribbon">{{ post.ribbon }}</div></div>
      {% endif %}
    
      {% if post.image %}
        <div class="card-image">
          <img src="{{ post.image }}" alt="">
        </div>
      {% endif %}
      
      <div class="card-header">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </div>
    
      <div class="card-copy">
        <p>{{ post.excerpt }} <a class="button" href="{{ post.url | prepend: site.baseurl }}">Read more <i class="icon-angle-right"></i></a></p>
      </div>
    
      <div class="card-stats">
        <ul>
          <li>{{ post.date | date: "%B %-d %Y" }}<span>Date</span></li>
          <li>{{ post.author }}<span>Author</span></li>
          <li>
            {% for t in post.tags %}
              {{ t }},
            {% endfor %}
            <span>Tags</span>
          </li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
