=a-transition
  -moz-transition: all 0.2s ease-in-out
  -webkit-transition: all 0.2s ease-in-out
  -o-transition: all 0.2s ease-in-out
  -ms-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out

a
  +a-transition
  color: #3fb1a3
  color: #d3d7cf
  text-decoration: none
  border-bottom: #b40000 solid 1px

  &:hover
    background-color: rgba(127, 127, 127, 0.33)
    border-bottom-color: #b40000
