#banner
  background-attachment: fixed
  background-color: #383d43
  background-image: url("../images/Bio_BG.png")
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  color: white
  cursor: default
  padding: 6em 0
  text-align: center

  .inner
    -moz-animation: reveal-banner 1s 0.25s ease-in-out
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out
    -o-animation: reveal-banner 1s 0.25s ease-in-out
    -ms-animation: reveal-banner 1s 0.25s ease-in-out
    animation: reveal-banner 1s 0.25s ease-in-out
    -moz-animation-fill-mode: forwards
    -webkit-animation-fill-mode: forwards
    -o-animation-fill-mode: forwards
    -ms-animation-fill-mode: forwards
    animation-fill-mode: forwards
    background: rgba(69, 76, 87, 0.75)
    color: white
    display: inline-block
    opacity: 0
    padding: 3em
    text-align: center

    header
      display: inline-block
      margin: 0 0 2em 0
      padding: 3px 0 3px 0

      h2
        font-size: 2.5em
        font-weight: 900
        letter-spacing: 0.2em
        margin: 0
        padding-left: 0.05em
        position: relative
        text-transform: uppercase

    p
      letter-spacing: 0.1em
      margin: 0
      text-transform: uppercase

      a
        color: inherit
        font-weight: 400
        text-decoration: none

    footer
      margin: 2em 0 0 0
