<footer id="footer">
    <div>
        <section>
            <div>
                <div><img src="{{ "/img/footer_logo.svg" | prepend: site.baseurl }}"></div>
                <div>&copy; <strong>Knossos</strong> 2014</div>
            </div>
        </section>

        <section>
            <div>
                <div><a class="scroll-on-page-link" href="#header"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
                </span></a></div>
                <div>Back to top</div>
            </div>
        </section>

        <section>
            <div>
                <div><img class="himage mpi-dude"></div>
                <div><strong>Knossos</strong> is developed at <a href="http://www.mpimf-heidelberg.mpg.de/en">Max Planck Institute for Medical Research</a> {% include fa.html icon="fa-external-link" %}</div>
            </div>
        </section>
    </div>
</footer>