<header class="cd-header">
  <div id="cd-logo">
    <a href="{{ "/index.html" | prepend: site.baseurl }}"><img src="{{ "/img/text.svg" | prepend: site.baseurl }}" alt="KNOSSOS"></a>
  </div>

  <nav class="cd-main-nav">
    <ul>
      <li><a href="{{ "/index.html" | prepend: site.baseurl }}"><i class="icon-home"></i> Home</a></li>
      <li><a href="{{ "/about/" | prepend: site.baseurl }}"><i class="icon-cog-alt"></i> About <strong>Knossos</strong></a></li>
      <li><a href="{{ "/downloads/" | prepend: site.baseurl }}"><i class="icon-download"></i> Downloads</a></li>
      <li><a href="{{ "/start/" | prepend: site.baseurl }}"><i class="icon-rocket"></i> Get started</a></li>
      <li><a href="{{ "/team/" | prepend: site.baseurl }}"><i class="icon-users"></i> The Team</a></li>
    </ul>
  </nav> <!-- cd-main-nav -->
</header>
