<header id="header">
    {% include nav.html %}

    <div>
        <article>
            <aside>
                <h1><strong>Knossos</strong></h1>
                <h2>3D image visualization and annotation for scientific research</h2>

                <div>
                    <a href="https://github.com/knossos-project/knossos/releases/download/v4.0.1/win64-Setup-Knossos.4.0.1.exe" class="button">{% include fa.html icon="fa-windows" %} <span>Latest Release ({{ site.data.knossos.version }}) 64bit</span></a>
                    <p><a href="{{ site.data.knossos.release-url }}">Not your system?</a></p>
                </div>
            </aside>
        </article>
    </div>
</header>