<header id="header">
    {% include nav.html %}

    <div>
        <article>
            <aside>
                <h1><strong>Knossos</strong></h1>
                <p><strong>Knossos</strong> is a tool for the <em>visualization and annotation</em> of 3D image data, and was developed for the <em>rapid reconstruction</em> of neural morphology and connectivity at <em>Max Planck Institute for Medical Research</em> in Heidelberg, Germany.</p>

                <div>
                    <a class="button">{% include fa.html icon="fa-windows" %} <span>Latest Release ({{ site.data.knossos.version }})</span></a>
                    <p><a href="{{ site.data.knossos.release-url }}">Not your system?</a></p>
                </div>
            </aside>
        </article>
    </div>
</header>