<nav>
    <ul>
        <a href="{{ "/index.html" | prepend: site.baseurl }}">
            <li>{% include fa.html icon="fa-home" %} <span>Home</span></li>
        </a>
        <a href="{{ "/start/" | prepend: site.baseurl }}">
            <li>{% include fa.html icon="fa-rocket" %} <span>Getting started</span></li>
        </a>
        <a class="scroll-on-page-link" href="#get-started">
            <li>{% include fa.html icon="fa-newspaper-o" %} <span>Documentation</span></li>
        </a>
        <a class="scroll-on-page-link" href="#about">
            <li>{% include fa.html icon="fa-users" %} <span>About</span></li>
        </a>
        <a href="{{ site.data.knossos.github-url }}">
            <li>{% include fa.html icon="fa-github" %} <span>Github {% include fa.html icon="fa-external-link" %}</span></li>
        </a>
        <!-- <a class="scroll-on-page-link" href="#footer">
            <li>Web<strong>Knossos</strong><sup>&dagger;<</li>
        </a> -->
    </ul>

    <div class="shadow"></div>
</nav>