<ul class="navi">
    <li><a href="{{ "/index.html" | prepend: site.baseurl }}">{% include fa.html icon="fa-home" %} <span>Home</span></a></li>

    <li><a href="{{ "/start/" | prepend: site.baseurl }}">{% include fa.html icon="fa-rocket" %} <span>Getting started</span></a></li>

    <!-- <li><a class="scroll-on-page-link" href="#get-started">{% include fa.html icon="fa-newspaper-o" %} <span>Documentation</span></a></li> -->
    <li><del>{% include fa.html icon="fa-newspaper-o" %} <span>Documentation</span></del>></li>

    <li>
        {% if page.title == "Getting started" %}
            <a href="{{ "/index.html#about" | prepend: site.baseurl }}">
        {% else %}
            <a href="#media">
        {% endif %}
        {% include fa.html icon="fa-users" %} <span>About</span></a>
    </li>
</ul>