<nav class="navi">
    <ul>
        <li><a href="{{ "/index.html" | prepend: site.baseurl }}" class="button {% if page.title == nil %}button-primary{% endif %}">{% include fa.html icon="fa-home" %} <span>Home</span></a></li>

        <li><a href="{{ "/start/" | prepend: site.baseurl }}" class="button {% if page.title == "Getting started" %}button-primary{% endif %}">{% include fa.html icon="fa-rocket" %} <span>Data Preparation</span></a></li>

        <!-- <li><a href="{{ "/documentation/" | prepend: site.baseurl }}" class="button {% if page.title == "Documentation" %}button-primary{% endif %}">{% include fa.html icon="fa-newspaper-o" %} <span>Documentation</span></a></li> -->

        <li>
            {% if page.title == "Getting started" or page.title == "Documentation" %}
                <a href="{{ "/index.html#team" | prepend: site.baseurl }}" class="button">{% include fa.html icon="fa-users" %} <span>About</span></a>
            {% else %}
                <a href="#team" class="button">{% include fa.html icon="fa-users" %} <span>About</span></a>
            {% endif %}
        </li>
    </ul>
</nav>