<div class="cd-product-wrapper">
  <img src="img/app.png" alt="KNOSSOS application screenshot">
  <ul>
    <li class="cd-single-point">
      <a class="cd-img-replace" href="#poi">More</a>
      <div class="cd-more-info cd-top">
        <h2>Something else</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
        </p>
        <a href="#poi" class="cd-close-info cd-img-replace">Close</a>
      </div>
    </li> <!-- .cd-single-point -->

    <li class="cd-single-point">
      <a class="cd-img-replace" href="#poi">More</a>
      <div class="cd-more-info cd-top">
        <h2>3D visualization</h2>
        <p>
          3
        </p>
        <a href="#poi" class="cd-close-info cd-img-replace">Close</a>
      </div>
    </li> <!-- .cd-single-point -->

    <li class="cd-single-point">
      <a class="cd-img-replace" href="#poi">More</a>
      <div class="cd-more-info cd-right">
        <h2>Skeletonization</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil.
        </p>
        <a href="#poi" class="cd-close-info cd-img-replace">Close</a>
      </div>
    </li> <!-- .cd-single-point -->
  </ul>
</div> <!-- .cd-product-wrapper -->
