<h1>Working with <strong>Knossos</strong></h1>
<h2>Getting started</h2>

<ol>
  <li>Install <strong>Knossos</strong> and download this <a class="button" href="">Python script</a>. This script converts your TIFF image data into <strong>Knossos</strong> readable data cubes.</li>
  <li>Execute the Python script in the directory containing the TIFF files. This will generate a folder containing the generated <strong>Knossos</strong> dataset.</li>
  <li>Open <strong>Knossos</strong> and load the dataset by using <code>File > Choose Dataset...</code>. A window opens. Select the dataset path and keep all other settings as they are.</li>
</ol>

<h2>How to use <strong>Knossos</strong></h2>

<p><strong>Knossos</strong> displays 4 views on your data. The first three viewports represent the <code>XY</code>, <code>XZ</code> and <code>YZ</code> plane, respectively (upper left, lower left and upper right). They are also distinguishable by their frame color: red, green and blue.</p>

<p>The fourth viewport shows a 3D view with the current position inside your data.</p>

<p>Drag across any viewport to navigate through your data. When your mouse hovers over a viewport, you can press <code>D</code> and <code>F</code> to move orthogonally inside it.</p>

<!-- 
<h2>Annotating with <strong>Knossos</strong></h2>

<section>
<h3>Skeletonization</h3>

<p>Place annotation nodes by pressing the right mouse button. <strong>Knossos</strong> will connect the nodes, automatically.</p>

{% include browser.html name="app.png" %}
</section>

<section>
<h3>Segmentation</h3>

<div class = "browsers">
  <div class = "browser">
    <div class="browser-top-bar">
      <div class="browser-circle"></div>
      <div class="browser-circle"></div>
      <div class="browser-circle"></div>
    </div>
  screenshot
  </div>
</div>
</section>
 -->
