/*
Error: Invalid CSS after "@charset "utf-8"": expected "{", was ";"
        on line 4 of css/main.scss

1: ---
2: # Only the main Sass file needs front matter (the dashes are enough)
3: ---
4: @charset "utf-8";
5: @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);
6: 
7: // Our variables
8: $base-font-family: "Lato", sans-serif;
9: $base-font-size:   18pt;

Backtrace:
css/main.scss:4
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:1163:in `expected'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:1099:in `expected'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:1094:in `tok!'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:641:in `block'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:660:in `block_child'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/scss/parser.rb:42:in `parse'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/engine.rb:393:in `_to_tree'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/Leye/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
/Users/Leye/.rbenv/versions/2.1.3/bin/sass:23:in `load'
/Users/Leye/.rbenv/versions/2.1.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@charset \"utf-8\"\": expected \"{\", was \";\"\A         on line 4 of css/main.scss\A \A 1: ---\A 2: # Only the main Sass file needs front matter (the dashes are enough)\A 3: ---\A 4: @charset \"utf-8\";\A 5: @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);\A 6: \A 7: // Our variables\A 8: $base-font-family: \"Lato\", sans-serif;\A 9: $base-font-size:   18pt;"; }
