body, html {
    height: 100%;
}

.navi {
    ul {
        list-styl: none;
        text-align: center;
        margin: 0;

        li {
            display: inline;
        }
    }

    span {
        @include media-query($on-palm) {
            display: none;
        }
    }
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.hero {
    // display: table;
    width: 100%;
    height: 100%;
    background: url('../img/grain_header.jpg') no-repeat top left;
    background-size: cover;
    text-align: center;

    .row:first-of-type {
        padding-top: 2em;
    }

    h1 {
        font-size: 5.0rem;
        font-weight: 100;
        color: #fff;
        letter-spacing: -1px;
        font-variant: small-caps;
    }

    p {
        color: #d0e7e9;
        font-style: italic;
        margin: 0 0 1.5em 0;
        font-weight: 300;
    }

    a {
        color: #fff;

        &:hover {
            color: $hover-link-color;
        }
    }


}

.hero.small {
    min-height: 20%;
}

.hero-play-btn {
    height: 99px;
    width: 99px;
    // background: url('../img/play-btn.png') no-repeat center center;
    display: block;
    margin: 0 auto;
    // text-indent: -99999px;
    // margin: 20px auto 260px;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.hero-play-btn:hover, .hero-play-btn:focus {
    transform: translate(0, 15px);
    -webkit-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
}