ul.navi {
    list-style: none;
    margin: 0;
    padding: 0;
        font-size: 150%;

    span {
        @include media-query($on-palm) {
            display: none;
        }
    }

    > li {
        display: inline;
        margin: 0 1em 0 1em;

        @include media-query($on-laptop) {
            font-size: 80%;
            margin: 0 1em 0 1em;
        }

        @include media-query($on-palm) {
            font-size: 100%;
            margin: 0 1em 0 1em;
        }
    }
}

html, body {
    height: 100%;
}

.hero h1 {
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    letter-spacing: -1px;
    margin: 100px 0 20px 0;
 }

.hero {
    background: url('../img/grain_header.gif') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;
    height: 100%;
 }

.hero p {
    color: #d0e7e9;
    font-style: italic;
    font-size: 17px;
    margin: 0 0 1.5em 0;
 }

.hero a {
    color: #fff;
 }

.hero-play-btn {
    height: 99px;
    width: 99px;
    // background: url('../img/play-btn.png') no-repeat center center;
    display: block;
    // text-indent: -99999px;
    margin: 20px auto 260px;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.hero-play-btn:hover, .hero-play-btn:focus {
    transform: translate(0, 15px);
    -webkit-transform: translate(0, 15px);
    -o-transform: translate(0, 15px);
    -moz-transform: translate(0, 15px);
}
