body > div:nth-of-type(1) {
    // background: url("img/overlay-pattern.png") #e6e6e6;
    background: url("img/overlay-pattern.png") #fff;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
    font-size: 80%;
    width: 100%;

    a, strong {
        color: black;
        border-bottom: 0;
    }

    > div {
        margin: 0 auto;
        padding-bottom: 2em;
        padding-top: 2em;
        width: 80%;

        > ul {
            @include cf();
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                @include span(1/4);
                padding: 0 0.5em 0 0.5em;

                @include media-query($on-palm) {
                    @include stack();
                }

                p {
                    margin: 0;

                    &:first-of-type {
                        color: black;
                    }
                }

            }
        }
    }
}

main {
    background: url("img/overlay-pattern.png") #f5f9fc;
    // background: #fafafa;

    aside {
        @include col(1/2);
    }

    article {
        @include col(1/2);
    }

    > section {
        box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);

        > div {
            @include center(960px, 1em);
        }
    }

    > section#page {
        box-shadow: inset 0 0 0 0;
        padding-top: 1.5em;
    }
}

#features {
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
    padding-bottom: 2em;
    padding-top: 2em;

    > div {
        section {
            display: table;
            padding-top: 1.5em;
            width: 100%;

            > div {
                display: table-cell;
                padding: 0 1em 0 1em;
                vertical-align: middle;
                width: 50%;

                @include media-query($on-laptop) {
                    @include stack();
                    text-align: center;
                }

                &:first-of-type {
                    text-align: right;
                }

            }

            div.right {
                text-align: right;
            }
        }
    }
}

#get-started {
    background: url("img/overlay-pattern.png") #ebf0f6;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);

    > div {
        @include center(1280px, 1em);
        padding: 40px;

        h1 {
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        > article {
            border-right: 1px solid #ddd;

            @include media-query($on-laptop) {
                @include stack();
                border-right: 0;
            }
        }
    }
}

#about {
    background: url("img/overlay-pattern.png") #5b6d8c;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
    padding-bottom: 5em;
    padding-top: 5em;

    h1, h2, strong {
        color: #e2eeff;
    }

    h2 {
        font-size: 120%;
    }

    > div {
        color: #a4b3cd;

        section {
            @include cf();
            @include span(1/2);
            display: table;
            min-width: 50%;
            min-height: 250px;
            padding-bottom: 1.5em;

            @include media-query($on-palm) {
                @include stack();
            }

            > div {
                display: table-cell;
                padding: 0 1em 0 1em;
                vertical-align: middle;

                @include media-query($on-laptop) {
                    @include stack();
                    text-align: center;
                }

                img {
                    border-radius: 50%;
                }
            }
        }
    }
}