.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD { visibility: visible; }

.about-knossos h1 {
    font-size: 55px;
    font-weight: 100;
    color: #fff;
    margin: 100px 0 20px 0;
}

.about-knossos {
    background: #5B6E8C url('../img/ipadBG_top.png') no-repeat;
    background-position: 100% -50%;
    background-size: 50%;

    @include media-query($on-palm) {
        background: #5B6E8C; background-image: none;
    }

    h2 {
        color: darken(#fff, 15);
    }

    p {
        color: #fff;
        font-size: 16px;
        margin: 0 30px 40px 0;
        line-height: 30px;
        font-weight: 300;
    }

    a {
        color: $hover-link-color;

        &:hover {
            color: #fff;
        }
    }
}

.about-knossos.bottom {
    background: #5B6E8C url('../img/ipadBG_bottom.png') no-repeat;
    background-position: top right;
    background-size: 50%;

    @include media-query($on-palm) {
        background: #5B6E8C; background-image: none;
    }

    a > code {
        border: 1px solid #f9f2f4;
        background: none;
        color: white;

        &:hover {
            background: #f9f2f4;
            color: #333;
        }
    }

    code {
        color: #c7254e;
    }
}



.features {
    background: #fff url('../img/arrowBG.png') no-repeat center -1px;
    padding: 70px 0;

    h2 {
        color: #9197a8;
        font-size: 15px;
        margin: 0 0 20px 0;
        text-transform: uppercase;

        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0;
    }

    p {
        color: #7a8387;
        font-size: 16px;
        word-spacing: 2px;
        line-height: 30px; font-weight: 300;
    }
 }






.team {
    background: #2b3442;
    padding: 3em 0;
    color: white;

    ul {
        text-align: center;

        li {
            display: inline-block;
            margin-left: 1em;
            margin-right: 1em;
        }
    }

    h2 {
        margin-top: 1em;
        color: #a4b3cd;
    }

    img {
        border-radius: 50%;
    }

    .button span {
        @include media-query($on-palm) {
            display: none;
        }
    }
}


.page {
    padding-top: 2em;

    h2 {
        color: #9197a8;
        font-size: 15px;
        margin: 0 0 20px 0;
        text-transform: uppercase;

        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0;
    }

    hr {
        margin-bottom: 2em;
    }

    ul, ol {
        list-style-position: outside;

        li {
            margin-bottom: 0;
        }
    }
}