.page-header {
    background: url('../img/grain_header.jpg') no-repeat top left;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    background-size: cover;
    padding: 65px 0;
    margin: 0;
 }

 .page h1 {
    color: #9197a8;
    font-size: 15px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
 }
.page {
    padding: 70px 0;
 }
.page p { color: #7a8387;
     font-size: 16px;
     word-spacing: 2px;
     line-height: 30px;
 }

.page-leftcol {
    border-right: 1px solid rgba(208, 217, 226, 0.4);
    padding-right: 60px;
 }

.page-rightcol {
    padding-left: 60px;
 }