<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        {% include header.html %}

        <div>
            <div>
                {% for p in site.html_pages %}
                    {% if p.title == "Feature List" %}
                        {{ p.content }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <main>
            {{ content }}
        </main>

        {% include footer.html %}

        <script src="{{ "/js/js.js" | prepend: site.baseurl }}"></script>
    </body>
</html>