<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    
    <header data-scroll-index="0">
      <div>
        <h1><img src="img/logo.svg" alt=""> <img src="img/text-white.svg" alt="KNOSSOS"></h1>
        <h2>3D image annotation</h2>
        <a class="button" href="https://github.com/knossos-project/knossos/releases/"><i class="fa fa-download"></i> Latest Release ({{ site.data.knossos.version }})</a> <span class="button inactive"><i class="fa fa-newspaper-o"></i> Documentation (coming soon)</span> <a class="button" href="https://github.com/knossos-project/knossos/"><i class="fa fa-github"></i> Github Repository</a>
        
        <h3>Scroll down to learn more about <strong>Knossos</strong></h3>

        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-angle-down fa-stack-1x fa-inverse"></i>
        </span>

        <h4><a data-scroll-goto="3">Or click here to get started using <strong>Knossos</strong></a></h4>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <script src="js/js.min.js"></script>
  </body>
</html>
