---
layout: default
---

<section class="hero" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {% include nav.html %}

            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="animated bounceInDown">Knossos</h1>
                <p class="animated fadeInUpDelay">3D image visualization and annotation for scientific research</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="" class="button button-primary">{% include fa.html icon="fa-windows fa-fw" %} Latest Release ({{ site.data.knossos.version }}, 64bit)</a>
                <p><sub><a href="{{ site.data.knossos.release-url }}">Not your system?</a></sub></p>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        {{ content }}
    </div>
</section>